praw
pandas==1.4.4
nltk==3.8.1
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
python-dotenv
seaborn
matplotlib
wordcloud
plotly
streamlit
streamlit_lottie
streamlit_analytics
datetime
toml
requests