praw
nltk==3.8.1
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
python-dotenv
seaborn
matplotlib
wordcloud
plotly
streamlit_lottie
datetime
requests
pytorch-lightning==2.0
torch==1.13.0
torchtext==0.14.0
torchvision
torchmetrics>=0.7.0
datasets==2.3.2
pandas
streamlit
transformers==4.28.0
datasets
evaluate
seqeval
promptify==0.1.4
markupsafe==2.0.1
jinja2==3.0.1